body {
    background-color: lightgray;
}

.container {
    background-color: cadetblue;
    width: 22em;
    margin: 7em 0em 0em 32em;
    border-radius: 10px;
    box-shadow: 3px 5px 7px 2px;
}

.tempCard {
    margin: 15px;
    padding: 30px;
    align-content: center;
}

button {
    margin-left: 12px;
}

input {
    margin-bottom: 0px;
}

p {
    text-align: center;
    padding-bottom: 15px;
}

h3 {
    text-align: center;
}
